<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts - Brand</title>
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Hayalinizi gerçekleştirmek için&nbsp;<span class="underline">doğru yerdesiniz</span>!</h2>
                    <p class="text-muted">Formumuzu doldurun, projenizi anlatın ve biz size destek olalım.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="p-3 p-xl-4" action="/sendmail" method="post" enctype = "multipart/form-data">
                            <div class="mb-3"><input class="shadow form-control" type="text" id="name-1" name="name" placeholder="İsim Soyisim" required=""></div>
                            <div class="mb-3"><input class="shadow form-control" type="text" id="bolum-1" name="bolum" placeholder="Bölümünüz" required=""></div>
                            <div class="mb-3"><label class="form-label">Doğum Tarihiniz :</label><input class="form-control" id="dogum-tarihi" type="date" required="" name="dogumtarihi"></div>
                            <div class="mb-3"><input class="shadow form-control" type="email" id="email-1" name="email" placeholder="Mail Adresiniz"></div>
                            <div class="mb-3"><label class="form-label">Telefon Numaranız :</label><input class="form-control" type="tel" placeholder="05xx xxx xx xx" name="phone" required=""></div>
                            <div class="mb-3"><textarea class="shadow form-control" id="message-1" name="cv" rows="4" placeholder="Kısa Öz Geçmişiniz" required=""></textarea></div>
                            <div class="mb-3"><textarea class="shadow form-control" id="message-2" name="projeozet" rows="6" placeholder="Proje Özeti" required=""></textarea></div>
                            <div class="mb-3"><textarea class="shadow form-control" id="message-3" name="hedefpazar" rows="4" placeholder="Hedef Pazar (Hedeflenen müşteri kesimi, pazar büyüklüğü, hedeflenen bölge vb.)" required=""></textarea></div>
                            <div class="mb-3"><textarea class="shadow form-control" id="message-4" name="gelirmodeli" rows="4" placeholder="Varsa Gelir Modeli (Fiyatlandırma stratejisi, gelir beklentileri vb.)"></textarea></div>
                            <div class="mb-3"><label class="form-label">Destek İstekleriniz :</label>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" name="finansalcheck"><label class="form-check-label" for="formCheck-1">Finansal</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2" name="mentorlukcheck"><label class="form-check-label" for="formCheck-2">Mentorluk</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3" name="isgelistirmecheck"><label class="form-check-label" for="formCheck-3">İş Geliştirme</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4" name="pazarlamacheck"><label class="form-check-label" for="formCheck-4">Pazarlama</label></div>
                            </div>
                            <div class="mb-3"><label class="form-label">Varsa Proje Detay Dosyalarınız :&nbsp;</label><input class="form-control" type="file" multiple="" name="belge"></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Send </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Defne Ertaş<br>Ender Mırız</p>
            </div>
        </div>
    </footer>
    <script src="{{ config.ASSETS_ROOT }}/js/bootstrap.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/startup-modern.js"></script>
</body>

</html>